<!DOCTYPE html>
<html>
  <head>
    <title>ALL USERS LIST!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> All Users</h1>
    <div>
    <% for each (user in Users){
      <%= user.firstname %></p>
      <p>Last Name: <%= user.lastname %></p>
      <p>Age: <%= user.age %></p>
      <p>Email: <%= user.email %></p>
      <p>Occupation: <%= user.occupation %></p>  
    }%>  
    </div>

  </body>
</html>