<!DOCTYPE html>
<html>
  <head>
    <title> User added - Thank You!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> New User! - Thank You</h1>
    <div>
      <p>
        You are user number: <% if (ticketNumber) { %>
        <%= ticketNumber %> 
        <% } %>
    </p>
    </div>
    <div>
      Your order contains: <% if (order) { %>
      <p>First Name: <%= order.hotdog %></p>
      <p>Last Name: <%= order.hamburger %></p>
      <p>Age: <%= order.salad %></p>
      <p>Email: <%= order.pizza %></p>
      <p>Occupation: <%= order.soda %></p>  
      <% } %>  
    </div>

  </body>
</html>
